.input-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

/* Файл-инпут стили */
.input-group input[type="file"]::file-selector-button {
  padding: 0.5em 1.2em;
  border: none;
  border-radius: 6px;
  background-color: #1f2937;
  color: #ffffff;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-group input[type="file"]::file-selector-button:hover {
  background-color: #374151;
}

button{
  width: 20%;
}


